$c-bg: #f7f7f7;
$c-disabled: #d0d0d0;
$c-extralightgray: #bdbdbd;
$c-lightgray: #7c7c7c;
$c-lightgray2: #828282;
$c-gray: #4f4f4f;
$c-darkgray: #333;
$c-black: #131313;
$c-lightgreen: #cfeff0;
$c-green: #0db2b3;
$c-darkgreen: #0c797a;
$c-invalid: #eb5757;
$min-width-tablet: 640px;
$min-width-desktop: 1280px;
$columns-mobile: 4;
$columns-gap-mobile: 20px;
$columns-tablet: 8;
$columns-gap-tablet: 20px;
$columns-desktop: 12;
$columns-gap-desktop: 30px;
$transition-time: 0.3s;
